{% extends 'pages/index.html' %}

{% block content %}
{% load static %}
   <main>

    <h2 class="page-heading">About MM</h2>
    <div id="post-container">
      <section id="blogpost">
        <div class="card">
          <div class="card-image">
            <img src="{% static '/images/1.jpg' %}" alt="Card Image">
          </div>
          <div class="card-description">
            <h3>Our Story</h3>
            <p>At MM Nature Hub , we believe in the power of collective action to make a positive impact on the world. Our journey began with a simple idea – to create a space where passionate individuals could come together to share their advocacy for nature and environmental sustainability.</p>
            <p>Founded by Monica Manalo, our platform emerged from a deep-seated love for the beauty of the natural world and a profound concern for its well-being. As a team of dedicated individuals, we recognize the urgency of addressing environmental challenges and the need for a united voice to drive meaningful change.</p>
            <h3>Our Mission</h3>
            <p>Our mission is clear: to provide a hub for advocates, enthusiasts, and change-makers who are committed to nurturing and preserving the environment. Through a shared passion for nature, we aim to foster a community that inspires, educates, and empowers individuals to take meaningful actions towards a more sustainable future.</p>
            <h3>Join Us in Making a Difference</h3>
            <p>MM Nature Hub is more than just a platform; it's a movement. Join us in our commitment to let nature thrive. Explore, engage, and be a part of a community that believes in the power of collective efforts to create a sustainable and harmonious world.</p>
            <p>Thank you for being a part of our journey.</p>

          </div>
        </div>
        <br>

      </section>

      <aside id="sidebar">
        <br>
        <br>
        <h2>"As an advocate for environmental sustainability, finding a platform like MM has been a game-changer. The support, encouragement, and shared commitment to making a difference have inspired me to amplify my efforts and connect with like-minded individuals."</h2>
        <p>-Community Member </p>
      </aside>
    </div>


        <br>
                <br><br>


  </main>

{% endblock %}